<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCC-Mkhn1EjnSWOOju1ltGK6n0_8ItgIDs</string>
	<key>GCM_SENDER_ID</key>
	<string>638954970825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rss.MedKit</string>
	<key>PROJECT_ID</key>
	<string>medkit-rss</string>
	<key>STORAGE_BUCKET</key>
	<string>medkit-rss.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638954970825:ios:7f4007e76c16d0daecb718</string>
</dict>
</plist>